{% extends 'app/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-center">
                        {{ 'app.home.user.title'|trans }}
                    </h4>
                </div>
                <div class="panel-body">
                    <ul class="well">
                        {% for user in users %}
                            <li>
                                id: {{ user.id }} -
                                login : {{ user.username }} -
                                role :
                                {% for role in user.roles %}
                                    {{ role }}
                                    {% if loop.last == false %}
                                        ,
                                    {% endif %}
                                {% endfor %} -
                                token : {{ user.token }}
                            </li>
                        {% endfor %}
                    </ul>
                    <p class="well">
                        <a href="{{ path('web_service_user_change_password') }}" target="_blank">
                            {{ 'app.home.user.change_password.title'|trans }}
                        </a> : {{ absolute_url(path('web_service_user_change_password')) }}<br>
                        {{ 'app.home.user.change_password.argument'|trans|raw }}
                    </p>
                    <p class="well">
                        <a href="{{ path('web_service_user_add_image') }}" target="_blank">
                            {{ 'app.home.user.add_image.title'|trans }}
                        </a> : {{ absolute_url(path('web_service_user_add_image')) }}<br>
                        {{ 'app.home.user.add_image.argument'|trans|raw }}
                    </p>
                    <p class="well">
                        <a href="{{ path('web_service_user_detail') }}" target="_blank">
                            {{ 'app.home.user.detail.title'|trans }}
                        </a> : {{ absolute_url(path('web_service_user_detail')) }}<br>
                        {{ 'app.home.user.detail.argument'|trans|raw }}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-center">
                        {{ 'app.home.auth.title'|trans }}
                    </h4>
                </div>
                <div class="panel-body">
                    <p class="well">
                        <a href="{{ path('web_service_auth_login') }}" target="_blank">
                            {{ 'app.home.auth.login'|trans }}
                        </a> :
                        {{ absolute_url(path('web_service_auth_login')) }}<br>
                        {{ 'app.home.auth.argument'|trans|raw }}
                    </p>
                    <p class="well"></p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-center">
                        {{ 'app.home.city.title'|trans }}
                    </h4>
                </div>
                <div class="panel-body">
                    <p class="well">
                        <a href="{{ path('web_service_city_all') }}" target="_blank">
                            {{ 'app.home.city.all'|trans }}
                        </a> :
                        {{ absolute_url(path('web_service_city_all')) }}
                    </p>
                    <p class="well"></p>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-center">
                        {{ 'app.home.job.title'|trans }}
                    </h4>
                </div>
                <div class="panel-body">
                    <p class="well">
                        <a href="{{ path('web_service_job_all') }}" target="_blank">
                            {{ 'app.home.job.all'|trans }}
                        </a> :
                        {{ absolute_url(path('web_service_job_all')) }}
                    </p>
                    <p class="well">
                        <a href="{{ path('web_service_job_add') }}" target="_blank">
                            {{ 'app.home.job.add.title'|trans }}
                        </a> :
                        {{ absolute_url(path('web_service_job_add')) }}<br>
                        {{ 'app.home.job.add.argument'|trans|raw }}
                    </p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-center">
                        {{ 'app.home.tag.title'|trans }}
                    </h4>
                </div>
                <div class="panel-body">
                    <p class="well">
                        <a href="{{ path('web_service_tag_all') }}" target="_blank">
                            {{ 'app.home.tag.all'|trans }}
                        </a> :
                        {{ absolute_url(path('web_service_tag_all')) }}
                    </p>
                    <p class="well">
                        <a href="{{ path('web_service_tag_add') }}" target="_blank">
                            {{ 'app.home.tag.add.title'|trans }}
                        </a> : {{ absolute_url(path('web_service_tag_add')) }}<br>
                        {{ 'app.home.tag.add.argument'|trans|raw }}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-center">
                        {{ 'app.home.contact.title'|trans }}
                    </h4>
                </div>
                <div class="panel-body">
                    <p class="well">
                        <a href="{{ path('web_service_friend_contact') }}" target="_blank">
                            {{ 'app.home.contact.list.title'|trans }}
                        </a> :
                        {{ absolute_url(path('web_service_friend_contact')) }}<br>
                        {{ 'app.home.contact.list.argument'|trans|raw }}
                    </p>
                    <p class="well">
                        <a href="{{ path('web_service_friend_add') }}" target="_blank">
                            {{ 'app.home.contact.add.title'|trans }}
                        </a> :
                        {{ absolute_url(path('web_service_friend_add')) }}<br>
                        {{ 'app.home.contact.add.argument'|trans|raw }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}